body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartcontrols {
    height: auto;
    padding: 5px 5px 0 16px;
    max-width: 100%;
  }
  
  #chartdiv {
    width: 100%;
    height: 600px;
    max-width: 100%;
  }